@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Oswald&display=swap");

/* COLORS */

:root {
	--blue: #345574;
	--light-blue: #aac2d8;
}

* {
	font-family: "Oswald", sans-serif;
}

html {
	color: white;
	font-size: 18px;
}

.grey {
	max-width: 70vw;
}

.absolute {
	max-width: 60vw;
	font-size: 1.8rem;
}

@media (max-width: 1024px) {
	html {
		font-size: 16px;
	}
	.absolute {
		max-width: 75vw;
		padding: 0;
		margin-top: -15px;
		font-size: 1.4rem;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 13px;
	}
	.absolute {
		padding: 0;
		max-width: 70vw;
	}
	.grey {
		max-width: 85vw;
		min-height: 60vh;
	}
	iframe {
		min-width: 90vw;
	}
}

@media (max-width: 480px) {
	html {
		font-size: 10px;
	}
	.absolute {
		display: none;
	}
}

body {
	background-color: #ffffff;
	opacity: 1;
	background-image: radial-gradient(#345574 0.9px, #ffffff 0.9px);
	background-size: 18px 18px;
}
* {
	color: white;
}

a {
	font-size: 1.3rem;
	outline: none;
	text-decoration: none;
	color: var(--blue);
	transition: all 0.3s;
}

a:hover {
	color: #a4d4e7;
}

/* FONT */

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.6rem;
}

h3 {
	font-size: 2.2rem;
}

h4 {
	font-size: 1.8rem;
}

p {
	font-size: 1.8rem;
	font-family: "Inter";
}
